<style>
	.comment{
		padding: 4pc;
	}
	.vinput{
		font-family: inherit !important;
		font-size: 14px !important;
	}
	.vcontent{
		font-size: 16px !important;
	}
	.vcontent a{
		font-size: 16px !important;
	}
	.vcontent p{
		font-size: 16px !important;
	}
</style>
<div id="comment" class="comment"></div>
<%- partial('_widget/comment/' + theme.comment.use + '/main') %>